.page {
    display: flex;
    flex-direction: column;
    background-color: #F4F1F6;
}

.page__content {
    flex-basis: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page__content > * {
    padding: 1rem 3rem;
}

.footer__logo {
    align-self: center;
}