.featured-products {
    margin: 2rem 0;
}

.featured-products__title {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 0 12rem 1rem;
    color: var(--darkpurple);
}

.featured-products__products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 12rem;
}