.product-card {
    height: 520px;
    width: 312px;
    padding: 1rem;
    overflow: hidden;
    border-radius: 4px;
}

.product-card--featured {
    background-color: rgba(67, 38, 107, 0.08);
}

.product-card__shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.product-card__shop-logo {
    height: 48px;
    width: 48px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
}

.product-card__shop-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-card__shop-name {
    font-size: 1.2rem;
    font-weight: 400;
}

.product-card__product-photo {
    height: 350px;
    width: 280px;
    overflow: hidden;
    margin: 1rem 0;
}

.product-card__product-photo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-card__product-title {
    font-size: 1.2rem;
    font-weight: 400;
}

.product-card__product-price {
    font-size: 1.5rem;
    font-weight: 700;
}