.hero-section {
    flex-basis: 350px;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    background-image: linear-gradient(var(--purple-filter), var(--purple-filter)), url("src/assets/images/hero_section_bg.jpg");
    background-size: cover;

    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.hero-section__title {
    font-weight: 320;
    text-transform: capitalize;
}

.hero-section__link {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.hero-section__link,
.hero-section__link:visited {
    font-weight: 350;
    color: white;
}
